{% extends "layout.html" %}

{% block body %}
    <h3>About</h3>
    <hr>
    <p>Hello,Everyone!!
        This blog is created in 2019. We are here for you and your mouth-pleasing
        Appetizing, inspiring, mouth-watering ... Not only recipes ... Feeding while laughing ...

Yemek.com, to learn the Italian cuisine to make her lover happy, to leave the power to produce wine in the south, the most dreamed to open rice pilgrim in Cihangir, the only culinary skill menemen can boast, according to the location of the hotel to eat according to the hotel also, a giant souffle eaten that day to feel the need to pay attention to the food during the whole week, the taste of the food without tasting salt, Instagram'a to take photos of the site to afford to cool the food.

Not only for those who want to feed themselves, but for those who pursue a pleasure.

With its ambitious team of different tastes and colors and many friendly and partners who contribute from outside, Yemek.com has set up a huge, long, colorful table and has a lot of chairs.

You have a chair at this delicious table. Whether as a writer or as a reader.

Good thing you came, come again.

Yours from us,
{% endblock body %} 