{% extends "layout.html" %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>    
        <h3 style="color: azure;">Profile</h3>

        <div class="profile-card">
            <div class="image-container">
                <img src="/static/css/images/gordan.jpeg" id="image_div" style="width: 100%;">
                <div class="title">
                    <h2>Jone Doe</h2>
                </div>
            </div>
        </div>
    </body>

    
    <hr>
    <p style="color: azure;">
        Welcome, <small>{{request.user.username}}</small>
    </p>

    <hr>

    <a class="btn btn-danger" href="/recipes/addrecipe">Add Recipe</a>
    <hr>
    {% if recipes  %}
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                    <th scope="row">{{recipe.id}}</th>
                    <td><a href="/recipes/recipe/{{recipe.id}}">{{recipe.title}}</a></td>
                    <td>{{recipe.author.username}}</td>
                    <td>{{recipe.created_date}}</td>
                    <td><a href="/recipes/update/{{recipe.id}}" class = "btn btn-danger">Edit</a></td>
                    <td><a href="/recipes/delete/{{recipe.id}}" class = "btn btn-danger">Delete</a></td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">
            You have no recipe for now.
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock body %}