{% extends "layout.html" %}
{% load static %}

{% block body %}    

  <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Recipegram</title>




    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i">
    <link rel="stylesheet" type="text/css" href="{% static 'static/index.css' %}"/>


        <div class="container" id="mainindex.css">
      <div class="jumbotron text-center" style="background:rgba(0, 0, 0, 0.3);">
        <div class="opentext">
          <h1 class="font-italic" style="color: white;">Bon Appétit</h1>
          <br>
          <h3 class="font-italic" style="color: white;">Join us and enjoy new recipes</h3>
          <br>
        
        </div>
      </div>
    </div>    

   <body>
   
    
   </body>
   
{% endblock body %}


