{% extends "layout.html" %}
{% load static %}
{% block body %}    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <body>
        
    </body>
{% load crispy_forms_tags %}
    <div class="row" id="loginform">
        <div class="col-md-3 offset-md-3">
            <h3>Login</h3>
            <hr>
              <form method="post" id="form">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button type="submit" class = "btn btn-danger">Login</button>
    </form>
        </div>
  
    </div>

  

{% endblock body %} 