{% extends "layout.html" %}

{% block body %}


    <div class = "row">
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8"> 
                <h3>Recipes</h3>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">          
                <form>
                    {% csrf_token %} 
                <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
                <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </div> 
        </div>           
    </div>


    {% if recipes %}
        {% for recipe in recipes %}
                <div class="row">
    <div class="col-md-10 offset-md-2">
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <a href="/recipes/recipe/{{recipe.id}}"><h3 class="mt-4">{{recipe.title}}</h3></a>

        <!-- Author -->
        <p class="lead">
          by
            {{recipe.author.username}}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{recipe.created_date}}</p>

        <hr>

        <!-- Preview Image -->
        {% if recipe.recipe_image %}
          <img class="img-fluid rounded" src="{{recipe.recipe_image.url}}" alt="">
        {% else %}
        {% endif %}
        
            

        <hr>

        <!-- Post Content -->
        <p class="lead">
        
            {{recipe.content|safe |truncatewords:10}}
        </p>
        
     
        <a style="float: right;" href="/recipes/recipe/{{recipe.id}}" class="btn btn-danger">Read More</a>
        <hr>            

          </div>

        </div>
    </div>
        {% endfor %}
    {% else %}
        <div class = "alert alert-danger">
            There is no recipe at this blog.
        </div>
    {% endif %}
{% endblock body %}