{% extends "layout.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
        <body>
  
        </body>
{% load crispy_forms_tags %}

<div class="row" id="registerform">
        <div class="col-md-3 offset-md-3">
                <h3>Register</h3>
                <hr>
              <form method="post" id="form">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button type="submit" class = "btn btn-danger">Register</button>
    </form>
        </div>
  
</div>


{% endblock body %}