{% extends "layout.html" %}
{% load static %}
{% block body %}
 
{% load crispy_forms_tags %}
 <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <div class="row" id="div_dashboard">
        {% comment %} <div class="col-md-3 offset-md-3"> {% endcomment %}
        <div class="container">
            <h3>Update Recipe</h3>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form | crispy}}
                <br>
                <button type="submit" class = "btn btn-danger">Update Recipe</button>
            </form>
        </div>
  
    </div>

{% endblock body %}


